div.e11-recommended-links {
    background-color: #e8e8e8;

    margin-bottom: 1em;
}

div.e11-recommended-links .title {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px dotted #888;
    margin: 0 10px;
    padding-top: 10px;
}

div.e11-recommended-links .link {
    padding: 0.75em 0;

    position: relative;

    font-size: 90%;
}

div.e11-recommended-links .link .link-date {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    display: inline-block;
    width: 5em;
    font-weight: bold;
}

div.e11-recommended-links .link .link-label {
    display: inline-block;
    margin-left: 5em;
    margin-right: 0.5em;
}

div.e11-recommended-links .link .link-label .link-title {
    font-weight: bold;
}

div.e11-recommended-links .link .link-label .link-description {
}

.e11-recommended-links-widget .link {
    padding: 5px 0;
}